In [1]:
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\PMYLS\Downloads\bikeee_share_yr_1.csv")

In [5]:
df

,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,rider_type,riders
0,1/1/2022,1,1,1,0,0,0,0,1,0.36,0.3788,0.66,0.0000,casual,5
1,1/1/2022,1,1,1,1,0,0,0,1,0.36,0.3485,0.66,0.1343,casual,15
2,1/1/2022,1,1,1,2,0,0,0,1,0.32,0.3485,0.76,0.0000,casual,16
3,1/1/2022,1,1,1,3,0,0,0,1,0.30,0.3333,0.81,0.0000,casual,11
4,1/1/2022,1,1,1,4,0,0,0,1,0.28,0.3030,0.81,0.0896,casual,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17463,31/12/2022,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,registered,108
17464,31/12/2022,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,registered,81
17465,31/12/2022,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,registered,83
17466,31/12/2022,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,registered,48
17467,31/12/2022,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,registered,37